body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.primary-text-color {
  color: #252733;
}
.secondary-text-color {
  color: #9FA2B4;
}

@font-face {
  font-family: "Mulish";
  src: url("assets/fonts/Mulish.ttf");
}
@font-face{
  font-family: "Muli";
  src: url("assets/fonts/Muli.ttf");
}